@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}
body{
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
nav{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
   
   padding: 30px 0;
}
.white{
    color: white;
}
ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.invite{
    margin-top: 20px;
}
.btn{
    padding: 10px 15px;
    border: 1px solid rgb(110, 1, 252);
    border-radius: 8px;
    color: white;
    background: rgb(110, 1, 252);
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 2px;
    transition: all .2s ease-in-out;
}
.btn:hover{
    background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.center{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space{
    text-align: center;
    width: 70%;
    font-weight: 500;
}
.weight{
    font-weight: 500;
}
.music{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.logoMusic{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 5px;
}
.descr{
    width: 60%;
    text-align: center;
    font-size: 18px;
}
.images{
    display: flex;
    flex-direction: column;
}
.full{
   
   
}
footer{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: larger;
}
.icons{
    margin-top: 50px;
}
.copyright{
    margin-bottom: 20px;
}
.font{
    font-size: 30px;
    
}
.up{
    margin: 50px 0;
    text-align: center;
}
.logo{
    display: flex;
    align-items: center;
}
.som{
    height: 55.5vh;
}
.hover{
    padding: 10px 12px;
    transition: all .2s ease-in-out;
    border-radius: 8px;
}
.hover:hover{
    background: rgba(0, 0, 0, 0.199);
   
}